beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
html5lib==1.0.1
idna==2.8
pkg-resources==0.0.0
progressbar==2.5
progressbar2==3.47.0
pyTelegramBotAPI==3.6.7
python-utils==2.3.0
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
urllib3==1.25.7
webencodings==0.5.1
